.listings-hub {
  padding: 0 10%;
}

.buttons-container .btn-default {
  border: 0;
  width: 100px;
  margin: 0 2.5px;
  color: #ffffff;
  background-color: #89d128;
}

.buttons-container .btn-default.active {
  background-color: #1377ff;
  color: #ffffff;
}

.buttons-container .btn-default:hover {
  background-color: #1377ff;
  color: #ffffff;
}

.buttons-container .btn-default:focus {
  background-color: #1377ff;
  color: #ffffff;
}

.buttons-container {
  padding: 5px 0;
  display: flex;
}

@media (max-width:480px) {
  .buttons-container .btn-default {
    width: 75px;
    flex: 1;
  }
}