.home-container {
  margin-bottom: 5px;
}

.thumbnail-link.preview > h4 {
  margin: 0;
  color: 1377ff;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.listings-container {
  padding: 0;
}

.thumbnail a > img {
  float: left;
  margin: 0 4px 0 0;
  display: inline;
  width: 150px;
  height: 150px;
}

.home-data .home-details > p {
  display: inline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.home-built {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 75%;
}