.home-container {
  display: inline;
  margin-bottom: 5px;
}

h4 {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.thumbnail a > img {
  float: left;
  margin: 0 4px 0 0;
  display: inline;
  width: 150px;
  height: 150px;
}

.home-data {
  display: inline;
}

.home-data > p {
  display:inline;
}